.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
     /* Add height dinamically */
    height: 140px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu li {
    margin-top: 10px;
}
